@import 'imports/variables' , 'imports/reset' , 'imports/mixins';

body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: var(--color-negro);
    color:var(--color-blanco);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.header{
    width: 100%;
    // background-color: salmon;
    padding:.8em 1.6em;
    @include flexible(row, nowrap , space-between , center , initial);
    font-size: .9em;
    
    @media screen and (min-width:1400px){
        font-size: 1em;
    }

    &__right{
        // width: 50%;
        // background-color: lime;
        @include flexible( row , nowrap , flex-start, center , initial );
    }
    &__h1{
        width:100%;
        max-width: 2.5em;
        // background-color: lightblue;
        margin:0 1.7em 0 0;
    }
    &__button{
        padding:.6em 1em;
        border-radius: 2em;
        transition: all .5s ease;
        font-weight: 500;
        font-size: 1.1em;

        &:hover{
            background-color: var(--color-negro-hover);
        }
        &.active{
            background-color: var(--color-negro-hover);
            color:var(--color-naranja);
            font-weight: 500;
        }
    }
    &__a{
        
        &--svg{
            
            padding:.4em;
            border-radius: 50%;
            transition: all .5s ease;

            &:hover{
                background-color: var(--color-blanco-secundario);
            }
        }
        
        &--profile{
            padding:.4em;
            @include flexible( row , nowrap , center , center , initial );
            border-radius: 50%;
            transition: all .5s ease;
            
            &:hover{
                background-color: var(--color-blanco-secundario);
            }
        }
    }
    &__img{
    }
    &__nav{
        // background-color: brown;
    }
    &__ul{
        // background-color: lightgreen;
        @include flexible( row , nowrap , flex-start, center , initial );
    }
    &__li{
        // background-color: orange;
        margin: 0 .3em;
    }
    &__left{
        
        // background-color: lime;
        @include flexible( row , nowrap , flex-end, center , initial );
    }
    &__stadia{
        margin:0 .7em 0 0;
        padding:.6em 1.1em;
        background-color: var(--color-negro-hover);
        transition: all .5s ease;
        border-radius: .2em;
        @include flexible( row , nowrap , flex-start , center , initial );
        cursor: pointer;

        &:hover{
            background-color: var(--color-blanco-secundario);
        }
    }
    &__span{
        display: none;
        
        &--pro{
            display: flex;
            background: linear-gradient(90deg, rgb(247, 99, 19) 0%, rgba(255,0,112,1) 100%);
            
            margin: 0 .2em 0 0;
            padding: 0em .7em;
            text-transform: uppercase;
            position: relative;
            overflow: hidden;
            font-weight: 700;
            font-size: 1.1em;
            &::after{
                content: '';
                display: flex;
                position: absolute;
                width:.5em;
                height: 100%;
                background-color: var(--color-negro-hover);
                top:0;
                left: -.3em;
                transform: skewX(15deg);
            }
            &::before{
                content: '';
                display: flex;
                position: absolute;
                width:.5em;
                height: 100%;
                background-color: var(--color-negro-hover);
                top:0;
                right: -.3em;
                transform: skewX(15deg);
            }
        }
    }
    &__text{
        font-size: 1em;
        font-weight: 600;
    }
    &__svg{
        width:1.8em;
        
        
    }
    &__span{
        background-color: lime;
    }
    &__profile{
        width:1.75em;
        height: 1.75em;
        border-radius: 50%;
    }
    &__texto{

    }
}


.main{
    width:90%;
    margin: .8em auto 0;
}


.slider{
    margin: 0 0 1em;
    @include flexible( row , nowrap , space-between , flex-start , initial );
    
    &__left{
        width:80%;
        position: relative;
        min-height: 75vh;
        background-color: lightgrey;
        overflow: hidden;
        border-radius: .5em;
        border:1px solid black;
        box-shadow: 0px 0px 1em 0 rgba(0,0,0,0.5);
        transition: all .5s ease;
        outline: none;
        &:focus{
            border:.5em solid var(--color-naranja);
        }
    }
    &__overlay{
        width:100%;
        max-width: 850px;
        padding:1em 2em 2em;
        position: absolute;
        bottom:0;
        left:0;
        z-index: 2;
    }
    &__img{
        width: 100%;
        height: 100%;
        background-color: lime;
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        transition: all .5s ease;
        transform: scale(1.01);
    }
    &__h2{
        font-size: 2.2em;
        font-weight: 600;
        // margin: 0 0 .3em;
        line-height: 1.5em;
    }
    &__h3{
        font-size: 1.6em;
        font-weight: 600;
        line-height: 1.5em;
        color:var(--color-naranja);
    }
    &__video{
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        pointer-events: none;
        transition: all .5s ease;

    }

    .slider__left:hover{
        transform: scale(1.05);
        .slider__img{
            opacity: 0;
            transform: scale(1.05);
        }
    }
    &__right{
        width:50%;
        min-height: 50vh;
    }
    &__product{
        position: relative;
    }
   
    &__h3{}
}

.descripcion{
    background-color: lightblue;
    &__h3{}
    &__block{}
    &__article{}
    &__h4{}
    &__p{}
}