@import 'imports/variables' , 'imports/reset' , 'imports/mixins';

body{
    background-color: var(--negro);
    color:var(--blanco);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.header{
    width: 100%;
    // background-color: salmon;
    padding:.8em 1.6em;
    @include flex(row, nowrap , space-between , center);
    font-size: .9em;

    @media screen and (min-width:1400px){
        font-size: 1em;
    }

    &__right{
        // width: 50%;
        // background-color: lime;
        @include flex( row , nowrap , flex-start, center);
    }
    &__h1{
        width:100%;
        max-width: 1.3em;
        // background-color: lightblue;
        margin:0 1.3em 0 0;
    }
    &__button{
        padding:.6em 1em;
        border-radius: 2em;
        transition: all .5s ease;
        font-weight: 500;
        font-size: 1.1em;

        &:hover{
            background-color: var(--blanco-hover);
        }
        &.active{
            background-color: var(--blanco-hover);
            color:var(--naranja);
            font-weight: 500;
        }
    }
    &__a{
        
        &--svg{
            
            padding:.4em;
            border-radius: 50%;
            transition: all .5s ease;

            &:hover{
                background-color: var(--blanco-hover);
            }
        }
        
        &--profile{
            padding:.4em;
            @include flex( row , nowrap , center , center);
            border-radius: 50%;
            transition: all .5s ease;
            
            &:hover{
                background-color: var(--blanco-hover);
            }
        }
    }
    &__img{
    }
    &__nav{
        // background-color: brown;
    }
    &__ul{
        // background-color: lightgreen;
        @include flex( row , nowrap , flex-start, center);
    }
    &__li{
        // background-color: orange;
        margin: 0 .3em;
    }
    &__left{
        
        // background-color: lime;
        @include flex( row , nowrap , flex-end, center);
    }
    &__stadia{
        margin:0 .7em 0 0;
        padding:.6em 1.1em;
        background-color: var(--blanco-hover);
        transition: all .5s ease;
        border-radius: .2em;
        @include flex( row , nowrap , flex-start , center);
        cursor: pointer;

        &:hover{
            background-color: var(--blanco-active);
        }
    }
    &__span{
        display: none;
        
        &--pro{
            display: flex;
            background: linear-gradient(90deg, rgb(247, 99, 19) 0%, rgba(255,0,112,1) 100%);
            
            margin: 0 .2em 0 0;
            padding: 0em .7em;
            text-transform: uppercase;
            position: relative;
            overflow: hidden;
            font-weight: 700;
            font-size: 1.1em;
            &::after{
                content: '';
                display: flex;
                position: absolute;
                width:.5em;
                height: 100%;
                background-color: var(--negro);
                top:0;
                left: -.3em;
                transform: skewX(15deg);
            }
            &::before{
                content: '';
                display: flex;
                position: absolute;
                width:.5em;
                height: 100%;
                background-color: var(--negro);
                top:0;
                right: -.3em;
                transform: skewX(15deg);
            }
        }
    }
    &__text{
        font-size: 1em;
        font-weight: 600;
    }
    &__svg{
        width:1.8em;
        
        
    }
    &__span{
        background-color: lime;
    }
    &__profile{
        width:1.75em;
        height: 1.75em;
        border-radius: 50%;
    }
    &__texto{

    }
}


.main{
    width:90%;
    margin: .8em auto 0;
}

.slider{
    margin: 0 0 1em;
    @include flex( row , nowrap , space-between , flex-start);
    
    &__left{
        width:75%;
        position: relative;
        height: 37vw;
        background-color: lightgrey;
        overflow: hidden;
        border-radius: .5em;
        border:1px solid black;
        box-shadow: 0px 0px 1em 0 rgba(0,0,0,0.5);
        transition: all .5s ease;
        outline: none;

        &:focus{
            border:.5em solid var(--naranja);
        }
    }
    &__overlay{
        width:100%;
        padding:3em 2em 2em;
        position: absolute;
        bottom:0;
        left:0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 100%);
    }
    &__img{
        width: 100%;
        height: 100%;
        background-color: lime;
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        transition: all .5s ease;
        transform: scale(1.01);
    }
    &__h2{
        max-width: 550px;
        font-size: 1.7em;
        font-weight: 500;
        // margin: 0 0 .3em;
        line-height: 1.5em;
    }
    &__h3{
        max-width: 550px;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.5em;
        color:var(--naranja);
    }
    &__video{
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        pointer-events: none;
        transition: all .5s ease;
        transform: scale(1.1);

    }
    .slider__left:hover{
        transform: scale(1.02);
        .slider__img{
            opacity: 0;
            transform: scale(1.05);
        }
    }
    
    &__right{
        width:calc( 25% - .7em );
        height: 37vw;
        
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(3 , 1fr);
        gap: .7em;

    }
    &__product{
        position: relative;
        width:100%;
        background: var(--negro-puro);
        
        padding: .2em;
        border-radius: .5em;
        overflow: hidden;
        transition: all .4s ease;
        transform: scale(1);
        &:hover{
            transform: scale(1.02);
        }
    }
    &__mask{
        overflow: hidden;
    }
    &__video2{
        border:1px solid black;
        padding:0 .8em;
        transform: scale(1.1) translateY(.4em);
    }
    &__h4{
        padding: .8em;
        font-weight: 400;
    }
}

.descripcion{
    margin: 4em 0 0;
    
    &__h3{
        margin:0 0 1em;
        font-size:1.6em;
    }
    &__block{
        background-color: var(--descripcion);
        border-radius: .5em;
        padding: 2em;
        box-shadow: 0 0 .8em rgba(0,0,0,.4);
        @include flex( row , nowrap, space-between , center );
        // Revisar este color con rgba
        // color:var(--blanco-hover);
    }
    &__article{
        width: calc( 100% / 2 );
        position: relative;

        &:nth-of-type(1){
            border-right: 1px solid var(--blanco-hover);
            margin: 0 3% 0 0;
        }
    }
    
    &__h4{
        font-size: 1.3em;
        margin: 0 0 .4em;
    }
    &__p{
        line-height:1.7em;
    }
}