/* Aquí definimos las Custom properties */
:root{
    --negro                 : #202124;
    --negro-puro            : #000;
    --blanco                : rgb(244, 244, 244);
    --blanco-hover          : rgba(255,255,255,.06);
    --blanco-active         : rgba(255,255,255,.08);
    --sombra-ppal           : #c9c9c9;
    --sombra-sec            : #ffffff;
    --borde-negro           : #00000050;
    --naranja               : #ff773d;
    --descripcion           : #303134;
    --descripcion-border    : #464648;

    --marcado               : rgb(127, 195, 255);

    /* Tipografía */
    --tipo-principal        : 'Roboto', sans-serif;
}
    
/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root{
        --negro         : #202124;
        --blanco        : rgb(244, 244, 244);
        --blanco-hover  : rgba(255,255,255,.06);
        --blanco-active : rgba(255,255,255,.08);
        --sombra-ppal   : #c9c9c9;
        --sombra-sec    : #ffffff;
        --borde-negro   : #00000050;
        --naranja       : #ff773d;

        --marcado       : rgb(127, 195, 255);
    }
}
/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
// @media (prefers-contrast: high){
//     :root{
//         
//     }
// }
